.loading-ellipses {
	display: flex;

	.ellipses {
		animation: fadeIn 0.5s infinite alternate cubic-bezier(0.96, 0.04, 0, 0.85), scaleUp 0.5s infinite alternate cubic-bezier(0.51, 0.96, 0.48, 0.01);
		background-color: $colorCoolGrey;
		height: 5px;
		margin-right: 3px;
		width: 5px;

		&:first-child {
			animation-delay: -0.3s;
		}

		&:nth-child(2) {
			animation-delay: -0.15s;
		}
	}
}