.account-overview-history-container {
	border-bottom: 1px solid transparentize($colorCoolGrey, 0.7);
	box-sizing: border-box;
	height: 500px;
	position: relative;
	width: calc(100% + 80px);
	z-index: $zIndexAccountOverviewHistory;
	padding: 24px 0 0;
	margin: 0 -40px;

	.timeline-controls {
		align-items: space-between;
		display: flex;
		margin: 0 40px 16px;
	}

	.timeline-sidebar {
		animation: scaleUpX 0.15s both ease-out;
		background-color: $colorWhite;
		box-shadow: -2px 1px 4px 0 rgba(1, 95, 178, 0.1), -1px 9px 1px -4px rgba(1, 95, 178, 0.04);
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		transform-origin: right;
		width: 480px;
		z-index: $zIndexAccountOverviewSidebar
	}

	.timeline-container {
		height: calc(100% - 88px);

		&.sidebar-active {
			width: calc(100% - 480px)
		}
	}
}