@mixin backgroundUrl($url) {
	background: url(#{$url}) 50% 50% no-repeat;
	background-size: contain;
}

@mixin createStackingContext {
	z-index: 0;
}

@mixin overflowEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin mutliLineGradientOverflow($lineHeight, $lineCount) {
		$_lineHeight: 1.2;

		overflow: hidden;
		position: relative;
		line-height: #{$lineHeight}em;
		max-height: #{$lineHeight * $lineCount}em;
		text-align: left;
		margin-right: -1em;

	  &:before {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: #{$lineHeight}em;
		box-shadow: inset 0 -36px 20px -16px $colorWhite;
	  }

	  &:after {
		content: '';
		position: absolute;
		right: 0;
		width: 1em;
		height: 1em;
		margin-top: 0.2em;
		background: $colorWhite;
	  }
}

@mixin newStackingContext {
	position: relative;
	z-index: $zIndexBase;
}

@mixin placeholder {
	&::-ms-input-placeholder {
		@content;
	}

	&::placeholder {
		@content;
	}
}

@mixin nestedTimelineTransition($attributeName) {
	.timeline-container:not(.zooming) & {
		@include timelineTransitionTiming($attributeName)
	}
}

@mixin statusColors($attributeName) {
	&.positive {
		#{$attributeName}: $colorPositiveGreen;
	}

	&.negative {
		#{$attributeName}: $colorNegativeRed;
	}

	&.neutral {
		#{$attributeName}: $colorOppStatusOpen;
	}
}

@mixin timelineTransitionTiming($attributeName) {
	transition: #{$attributeName} 0.25s ease-out;
}

@mixin animateDossieraLogo($duration, $count) {
	.dossiera-logo-part {
		animation: none #{$duration}s both #{$count} ease-out;
		animation-delay: -1.6s;
		backface-visibility: hidden;
		fill-opacity: 0;
	}

	.dossiera-logo-lower {
		animation-name: lowerFlip;
		transform-origin: top;
	}

	.dossiera-logo-upper {
		animation-name: upperFlip;
		transform-origin: bottom;
	}

	.dossiera-logo-center {
		animation-name: centerFlip;
	}
}

@mixin customScrollBar {
	&::-webkit-scrollbar {
		background-color: transparent;
		border-left: 1px solid $colorSubtleGrey;
		border-right: 1px solid $colorSubtleGrey;
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparentize($colorNeutralLavendar, 0.7);
		transition: background-color 0.15s ease-out;

		&:hover {
			background-color: transparentize($colorNeutralLavendar, 0.5);
		}
	}

	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}